.footer__copyright {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  flex-basis: 100%;
  text-align: end;
}

@media screen and (max-width:720px) {
  .footer__copyright {
    margin-top: 16px;
    text-align: start;
  }
}